<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<!--    #if( $redis_current_sentinel=='true' )-->
<!--    <bean class="org.springframework.data.redis.connection.RedisSentinelConfiguration" id="sentinelConfiguration">-->
<!--        <constructor-arg name="master" value="${redis.masterName}"/>-->
<!--        <constructor-arg name="sentinelHostAndPorts">-->
<!--            <bean class="java.util.HashSet">-->
<!--                <constructor-arg value="${mdd.redis.ip}"/>-->
<!--            </bean>-->
<!--        </constructor-arg>-->
<!--        <property name="password"  value="${mdd.redis.passWord}"/>-->
<!--    </bean>-->
<!--    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">-->
<!--        <constructor-arg name="sentinelConfig" ref="sentinelConfiguration"/>-->
<!--        <constructor-arg name="poolConfig" ref="poolConfig"/>-->
<!--    </bean>-->

<!--    <bean id="redisConfig" class="org.imeta.spring.support.cache.RedisConfig"-->
<!--          p:server="${mdd.redis.ip}"-->
<!--          p:sentinel="true"-->
<!--          p:masterName="${mdd.redis.sentinel.master}"-->
<!--          p:port="${mdd.redis.port}"-->
<!--          p:password="${mdd.redis.passWord}"-->
<!--          p:timeout="${mdd.redis.timeout}"-->
<!--          p:maxTotal="${mdd.jedis.pool.maxActive}"-->
<!--          p:maxIdle="${mdd.jedis.pool.maxIdle}"-->
<!--          p:ssl="false"-->
<!--          p:test="false"/>-->
<!--    <bean id="redisPubConfig" class="org.imeta.spring.support.cache.RedisConfig"-->
<!--          p:server="${redis.pub.server}"-->
<!--          p:sentinel="true"-->
<!--          p:masterName="${mdd.redis.sentinel.master}"-->
<!--          p:port="${redis.pub.port}"-->
<!--          p:password="${redis.pub.password}"-->
<!--          p:timeout="${mdd.redis.timeout}"-->
<!--          p:maxTotal="${mdd.jedis.pool.maxActive}"-->
<!--          p:maxIdle="${mdd.jedis.pool.maxIdle}"-->
<!--          p:ssl="false"-->
<!--          p:test="false"/>-->
<!--    #else-->

<!--    <bean id="connectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">-->
<!--        <property name="hostName" value="${mdd.redis.ip}" />-->
<!--        <property name="port" value="${mdd.redis.port}" />-->
<!--        <property name="password" value="${mdd.redis.passWord}" />-->
<!--        <property name="database" value="${mdd.redis.db.index}" />-->
<!--        <property name="poolConfig" ref="poolConfig" />-->
<!--    </bean>-->
<!--    <bean id="redisConfig" class="org.imeta.spring.support.cache.RedisConfig"-->
<!--          p:server="${mdd.redis.ip}"-->
<!--          p:port="${mdd.redis.port}"-->
<!--          p:password="${mdd.redis.passWord}"-->
<!--          p:timeout="${mdd.redis.timeout}"-->
<!--          p:maxTotal="${mdd.jedis.pool.maxActive}"-->
<!--          p:maxIdle="${mdd.jedis.pool.maxIdle}"-->
<!--          p:ssl="false"-->
<!--          p:test="false"/>-->

<!--    <bean id="redisPubConfig" class="org.imeta.spring.support.cache.RedisConfig"-->
<!--          p:server="${redis.pub.server}"-->
<!--          p:port="${redis.pub.port}"-->
<!--          p:password="${redis.pub.password}"-->
<!--          p:timeout="${mdd.redis.timeout}"-->
<!--          p:maxTotal="${mdd.jedis.pool.maxActive}"-->
<!--          p:maxIdle="${mdd.jedis.pool.maxIdle}"-->
<!--          p:ssl="false"-->
<!--          p:test="false"/>-->
<!--    #end-->

<!--    #[[-->
<!--    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
<!--        <property name="maxIdle" value="300" />-->
<!--        <property name="testOnBorrow" value="true" />-->
<!--    </bean>-->
<!--    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">-->
<!--        <property name="connectionFactory" ref="connectionFactory" />-->
<!--    </bean>-->
<!--    <bean id="redisManager" class="org.imeta.spring.support.cache.RedisManager">-->
<!--        <property name="redisConfig" ref="redisConfig"/>-->
<!--        <property name="defaultDuration" value="#{commonprops.cacheDuration}"/>-->
<!--    </bean>-->
<!--    <bean id="redisPubManager" class="org.imeta.spring.support.cache.RedisManager">-->
<!--        <property name="redisConfig" ref="redisPubConfig"/>-->
<!--        <property name="defaultDuration" value="#{commonprops.cacheDuration}"/>-->
<!--    </bean>-->

<!--    <bean class="com.yonyou.ucf.mdd.ext.cache.RedisManagerFactory" />-->
<!--    ]]#-->
</beans>
