<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
       default-autowire="byName">
    <util:properties id="commonprops">
        <prop key="encryptKey">kfd453sdfd678hfghgfh</prop>
        <prop key="signTimeout">120</prop>
        <prop key="cacheDuration">14400</prop>
    </util:properties>
    <bean id="mainAppContext" primary="true" class="com.yonyou.ucf.mdd.ext.core.AppContext">
        <property name="configLocation" value="classpath:application.properties,
            classpath:imeta-config.properties,classpath:mdd-db.properties,
            classpath:mdd-dubbo.properties,
            classpath:mdd-oss.properties,
            classpath:mdd-partition.properties,
            classpath:mdd-redis.properties"/>
        <property name="partitions">
            <list>
<!--                <bean class="com.yonyou.ucf.mdd.common.model.partition.Partition" p:itf="basedoc.basedocItf.BasedocITenant"-->
<!--                      p:keyField="tenant" p:valueField="tenantId" p:keyFieldEx="tenant_id" p:isCallback="true">-->
<!--                </bean>-->
<!--                <bean class="com.yonyou.ucf.mdd.common.model.partition.Partition" p:itf="baseapp.itf.ITenant"-->
<!--                      p:keyField="tenant" p:valueField="tenantId" p:keyFieldEx="tenant_id" p:isCallback="true">-->
<!--                </bean>-->
<!--                <bean class="com.yonyou.ucf.mdd.common.model.partition.Partition" p:itf="baseapp.itf.IServerTenant"-->
<!--                      p:keyField="servertenant" p:valueField="serverTenantId"  p:isAllSupport="true" p:isCallback="true">-->
<!--                </bean>-->
                <bean class="com.yonyou.ucf.mdd.common.model.partition.Partition" p:itf="common.base.Tenant"
                      p:keyField="tenant_id" p:valueField="yhtTenantId">
                </bean>
            </list>
        </property>

    </bean>
    <!-- <bean id="messageSource" class="com.yonyou.iuap.ucf.multilang.runtime.UcfStaticMessageSource"></bean> -->

    <!--<bean class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />-->
    <!--可以扫描controller、service;指定controller包-->
    <context:component-scan base-package="com.yonyoucloud,com.yonyou" use-default-filters="false"
                            name-generator="org.imeta.spring.bean.BizObjectBeanNameGenerator"
                            scope-resolver="org.imeta.spring.bean.BizObjectScopeMetadataResolver">
        <context:include-filter type="assignable" expression="org.imeta.orm.base.BizObject"/>
        <context:exclude-filter type="regex" expression="com.yonyoucloud.uretail.*"/>
        <context:exclude-filter type="assignable" expression="com.yonyou.ucf.mdd.ext.bill.service.BillNumberServiceImpl"/>
    </context:component-scan>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/*.ico" />
            <mvc:exclude-mapping path="/rest/multilangruntime" />
            <mvc:exclude-mapping path="/tenant/createTable" />
            <mvc:exclude-mapping path="/mobile/**"/>
            <mvc:exclude-mapping path="/api/yonscript/**"/>
            <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
            <bean id="dataSourceInterceptor" class="com.yonyou.ucf.mdd.ext.interceptor.LoginInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/*.ico" />
            <mvc:exclude-mapping path="/rest/multilangruntime" />
            <mvc:exclude-mapping path="/tenant/createTable" />
            <!-- 登录拦截设置多语 -->
            <bean id="localeInterceptor" class="com.yonyou.ucf.mdd.ext.i18n.interceptor.LocaleInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>

<!--
    <bean id="dataSourceRoutingAspect" class="com.yonyoucloud.uretail.sys.db.DataSourceRoutingAspect" />
-->
    <bean id="billContextDao" class="com.yonyou.ucf.mdd.ext.dao.app.BillContextDaoImpl"></bean>
    <bean id="billRuleRegisterDao" class="com.yonyou.ucf.mdd.ext.dao.app.BillRuleRegisterDaoImpl"></bean>
    <bean id="metaFilterItemDAO" class="com.yonyou.ucf.mdd.ext.filter.dao.impl.MetaFilterItemDAOImpl"></bean>
    <bean id="makeBillRuleRegisterDao" class="com.yonyou.ucf.mdd.ext.dao.app.MakeBillRuleRegisterDaoImpl"></bean>
    <bean id="defaultPartitionCallback" class="com.yonyou.ucf.mdd.common.interfaces.partition.DefaultPartitionCallback"></bean>

    <!-- 需要引入ext相关 -->
<!--    <bean id="billNumberController" class="com.yonyou.ucf.mdd.ext.bill.controller.BillNumberController"></bean>-->
<!--    <bean id="makeBillRuleController" class="com.yonyou.ucf.mdd.ext.bill.billmake.controller.MakeBillRuleController"></bean>-->
    <bean id="poiService" class="com.yonyou.ucf.mdd.ext.poi.service.POIService"></bean>

</beans>
